@using MyEvernoteEntities
@model EvernoteUser
@{
    ViewBag.Title = "Profil Düzenle";
}
<link href="~/Content/validation-summary.css" rel="stylesheet" />
<div class="container">
    <div class="row">
        <h2>@ViewBag.Title</h2>
        <hr />
    </div>

    <div class="row">
        @using (Html.BeginForm("EditProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="form-horizontal">
                <div class="col-md-3">
                    <img src="~/Images/@Model.ProfileImageFilename" class="img-circle" width="128" height="128" />
                    <br /><br />
                    <input type="file" name="ProfileImage" id="ProfileImage" class="form-control" /> <br />
                    <span class="glyphicon glyphicon-info-sign">&nbsp;</span>
                    <span><i>Lütfen jpg, jpeg, ya da png formatı kullanın.</i></span>
                </div>

                <div class="col-md-9">
                    @Html.ValidationSummary(false)
                    @Html.HiddenFor(model => model.Id)

                    <div class="form-group">
                        @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Name, new { htmlAttribute = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Surname, new { htmlAttribute = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserName, new { htmlAttribute = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Email, new { htmlAttribute = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" class="btn btn-success" />
                            @Html.ActionLink("iptal", "ShowProfile", "Home", null, new {@class="btn btn-dfault"})
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <script>
        $(function () {
            $("footer").parent().hide;
        });
    </script>




















</div>